<section class="main">
  <section class="acercaDe" id="acerca">
    <div class="contenedor">
      <div class="foto">
        <img
          src="/public/img/perfil2.jpg"
          alt="Arianna Silva"
          title="Arianna Silva"
          width="115"
        />
      </div>
      <div class="texto">
        <h3 class="titulo">Acerca de</h3>
        <p>
          Lorem ipsum
          <span class="bold"
            >dolor sit amet, consectetur adipisicing elit. Deleniti</span
          >
          sit dicta quae natus quasi ratione quis id, tenetur atque blanditiis
          aperiam mollitia enim corporis ex praesentium reprehenderit vero
          <span class="bold"
            >illum velit? Qui deserunt, nostrum perferendis</span
          >
          ducimus.
        </p>
      </div>
    </div>
  </section>
  <%- include('/views/components/trabajos.ejs') %>
</section>
