<section class="redesSociales">
  <div class="contenedor">
    <a href="" class="facebook"><span class="icon-facebook"></span></a>
    <a href="https://github.com/Ari-1911" class="github"
      ><span class="icon-github"></span
    ></a>
    <a href="" class="instagram"><span class="icon-instagram"></span></a>
  </div>
</section>
